{% extends 'base.html' %} {% block content %}
<style>
  #id_name {
    width: 80%;
  }
  textarea {
    height: 70px;
  }
</style>
<div class="container">
  <h1  class="text-center" ><u>Fill in your Personal Details</u></h1>
    <p  class="text-center" >Refer to <a href="{% url 'basic_qr:landing'  %}#faq" target="_blank" rel="noopener noreferrer" >FAQs</a></p>
  <br />
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="row" style="margin-top: 18px; margin-bottom: 18px">

      <!-- {% if field.blank %}

      {% else %}
      <div class="col-3">{{field.label}}* </div>
      {% endif %} -->
      <div class="col-3">{{field.label}} <span style="color:red;">{{field.help_text}}</span></div>
      <div class="col-9">{{field}}</div>

    </div>
    {% endfor %}
    <div class="text-center">
      <input class="btn btn-primary" type="submit" value="Submit" />
    </div>
  </form>

</div>
{% endblock %}
