{% extends 'base.html' %}
{% load static %}

{% if user.is_authenticated %}
{% block header %}
<li class="nav-item" style="margin-left: 17px;">
  <a class="nav-link" href="{% url 'basic_qr:profile' num %}">Profile</a>
</li>
{% endblock %}
{% endif %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Record your health detail and medical reports all in one place</h1>
          <h2 data-aos="fade-up" data-aos-delay="50">For easy & one-tap access to life-saving information in case of emergency</h2>
          <h4 style="color:#4154f1">3.5k+ Users Enrolled</h4>
          <div data-aos="fade-up" data-aos-delay="100">
            <div class="text-center text-lg-start">
              <a href="{% url 'basic_qr:register' %}" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static 'assets/img/brImg.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>To use</h2>
          <p>Follow These 3 Simple Steps</p>
        </header>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="fade-up" data-aos-delay="200">
              <img src="{% static 'assets/img/values-1.png' %}" class="img-fluid" alt="">
              <h3>Register Your Account </h3>
              <p>Go to the register page and sign up.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="400">
              <img src="{% static 'assets/img/values-2.png' %}" class="img-fluid" alt="">
              <h3>Fill In Your Information</h3>
              <p>Fill out all the necessary details, refer to the FAQ section for more help on what to enter in each section.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="600">
              <img src="{% static 'assets/img/sticker.png' %}" class='img-fluid' alt="">
              <h3>Get Your QR Code Stickers Free of Cost</h3>
              <p>Your unique QR code in the form of some stickers will be delivered to your doorstep within 7 days, absolutely free of cost. You can print and stick this QR code on the back of your phone, on your car etc.</p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Values Section -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>About Us</h3>
              <h2>Here's How Meditag Can Save Your Life</h2>
              <p>
                Medi tag is a free of cost service for the public which provides users a safe place to store all their medical reports online and most importantly a tool which anyone can use to get access to the vital medical information of the patient in case of an emergency by just scanning the QR code.

We hope to increase medical awareness and hopefully make it a trend where everyone owns a Meditag to yield the best possible results out of the technology in urgent situations to save lives and take a vital step towards a better tomorrow.
              </p>
              <div class="text-center text-lg-start">
                <a href="https://drive.google.com/file/d/1-K2_JtsKRW9HqzzVIGn4Mz1lWhWyYMHb/view?usp=drivesdk" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Watch Video</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <!-- <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div> -->

        </div>
      </div>

    </section><!-- End About Section -->

    <section id="faq" class="faq">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </header>

        <div class="row">
          <div class="col-lg-6">
            <!-- F.A.Q List 1-->
            <div class="accordion accordion-flush" id="faqlist1">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    What should you fill in emergencies?
                  </button>
                </h2>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                  Please specify the antidotes and procedure in case of an emergency. Eg., aspirin or any other blood thinner in case of heart attacks, steps to follow in case of a special condition that you’re prone to and might need an immediate response.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                      What should you fill in existing medical conditions?
                  </button>
                </h2>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Genetic diseases like diabetes, blood pressure problems, cancer, thyroid, diabetes, respiratory diseases like asthma, seizures, chest pain, migraines, panic attacks, syndromes, aids, etc.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    What should you fill in the disabilites section?
                  </button>
                </h2>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                  What’s considered a disability is a very sensitive and debatable topic, hence it’s entirely on you to judge the need to mention something in the column.
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-6">

            <!-- F.A.Q List 2-->
            <div class="accordion accordion-flush" id="faqlist2">

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                  What should you fill in the ongoing medication section?
                  </button>
                </h2>
                <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    Here you must mention the prescribed medications you are currently using. You can go ahead and upload the prescriptions for the same in the upload documents section.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                    What should you fill in the allergies section?
                  </button>
                </h2>
                <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    Mention the items you are allergic to. (Drug, food, insect, latex, mold, pet or a pollen allergy).
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                    What if you have something else you wish to mention?
                  </button>
                </h2>
                <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    The others section is for any and all info that doesn't come under the other sub-categories.
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

    </section>
    <footer id="footer" class="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>MediTag</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
          Website by <a href="https://www.linkedin.com/in/guneet-talwar-0064791b6/?originalSubdomain=in">GST</a>
        </div>
      </div>
    </footer><!-- End Footer -->
{% endblock %}
